In [172]:
import pandas as pd

Cargar datos

In [173]:
# Importamos el dataset de los datos de los pokemon

pokemon = pd.read_csv('dataset_final.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [174]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''

print("Hay "+ str(len(pokemon)) + " en el dataset")

Hay 800 en el dataset

In [175]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''

print("Hay "+str(len(pokemon[pokemon['Type 1'] == "Poison"])) + " pokémon del tipo Poison")

Hay 28 pokémon del tipo Poison

In [176]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''

print ("Hay "+ str(len(pokemon.groupby('Type 1'))) + " tipos diferentes de pokémon")

Hay 18 tipos diferentes de pokémon

In [177]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

pokemon.groupby('Type 1')['Name'].count().sort_values(ascending=False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [178]:
'''
3. ¿Cuál es el pokémon más rápido?
'''

pokemon.sort_values(('Speed'), ascending=(False))

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False

In [181]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''
print(str(len(pokemon[pokemon['Defense'] > 100]))+" pokémon tienen una defensa superior a 100")

print(str(len(pokemon[pokemon['Speed'] > 100]))+" pokémon tienen una velocidad superior a 100")

123 pokémon tienen una defensa superior a 100
106 pokémon tienen una velocidad superior a 100

In [182]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''

defensa = pokemon['Defense'] > 100
velocidad = pokemon['Speed'] > 100

print(str(len(pokemon[defensa & velocidad]))+" pokémon tienen una defensa y una velocidad superior a 100")

9 pokémon tienen una defensa y una velocidad superior a 100

In [83]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''

pokemon.sort_values(['Type 1', 'Type 2'], ascending=[True, True])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [84]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''

pk_water = pokemon[(pokemon['Type 1'] == 'Water')]
pk_water.reset_index(drop=True, inplace=True)
pk_water

pk_fire = pokemon[(pokemon['Type 1'] == 'Fire')]
pk_fire.reset_index(drop=True, inplace=True)
pk_fire

pk_filtrado = pk_water.append(pk_fire)
print(pk_filtrado)

print(len(pk_filtrado))

      #                     Name Type 1  Type 2  Total  HP  Attack  Defense  \
0     7                 Squirtle  Water     NaN    314  44      48       65
1     8                Wartortle  Water     NaN    405  59      63       80
2     9                Blastoise  Water     NaN    530  79      83      100
3     9  BlastoiseMega Blastoise  Water     NaN    630  79     103      120
4    54                  Psyduck  Water     NaN    320  50      52       48
..  ...                      ...    ...     ...    ...  ..     ...      ...
47  662              Fletchinder   Fire  Flying    382  62      73       55
48  663               Talonflame   Fire  Flying    499  78      81       71
49  667                   Litleo   Fire  Normal    369  62      50       58
50  668                   Pyroar   Fire  Normal    507  86      68       72
51  721                Volcanion   Fire   Water    600  80     110      120

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        50       64     43           1      False
1        65       80     58           1      False
2        85      105     78           1      False
3       135      115     78           1      False
4        65       50     55           1      False
..      ...      ...    ...         ...        ...
47       56       52     84           6      False
48       74       69    126           6      False
49       73       54     72           6      False
50      109       66    106           6      False
51      130       90     70           6       True

[164 rows x 13 columns]
164

C:\Users\Sara Prof\AppData\Local\Temp\ipykernel_20572\3240588545.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pk_filtrado = pk_water.append(pk_fire)

In [85]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''

pk_legendary = pokemon[(pokemon['Legendary'] == True)]
pk_legendary.reset_index(drop=True, inplace=True)
pk_legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
61,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
62,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
63,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
64,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [86]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''

print(pk_legendary.mean(numeric_only=True))

pk_no_legendary = pokemon[(pokemon['Legendary'] == False)]
pk_no_legendary.reset_index(drop=True, inplace=True)
pk_no_legendary

print(pk_no_legendary.mean(numeric_only=True))

#             470.215385
Total         637.384615
HP             92.738462
Attack        116.676923
Defense        99.661538
Sp. Atk       122.184615
Sp. Def       105.938462
Speed         100.184615
Generation      3.769231
Legendary       1.000000
dtype: float64
#             353.315646
Total         417.213605
HP             67.182313
Attack         75.669388
Defense        71.559184
Sp. Atk        68.454422
Sp. Def        68.892517
Speed          65.455782
Generation      3.284354
Legendary       0.000000
dtype: float64

In [128]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

medias_legendary = dict(pk_no_legendary.mean(numeric_only=True))
medias_legendary.pop('Legendary')
medias_no_legendary = dict(pk_legendary.mean(numeric_only=True))
medias_no_legendary.pop('Legendary')
print(medias_no_legendary)

dataframe = pk_legendary.describe()
dataframe.head()

pk = pd.DataFrame(columns=[dataframe.columns], index=['Legendary', 'No legendary'])
pk = pk.append(medias_legendary, ignore_index=True)
pk.head()
#print(medias_no_legendary)

#No he conseguido añadir las filas con el diccionario creado

{'#': 470.2153846153846, 'Total': 637.3846153846154, 'HP': 92.73846153846154, 'Attack': 116.67692307692307, 'Defense': 99.66153846153846, 'Sp. Atk': 122.18461538461538, 'Sp. Def': 105.93846153846154, 'Speed': 100.18461538461538, 'Generation': 3.769230769230769}

C:\Users\Sara Prof\AppData\Local\Temp\ipykernel_20572\1485869208.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pk = pk.append(medias_legendary, ignore_index=True)

ValueError: no types given

In [183]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que inndique si el pokemo tiene dos tipos o no
'''

pokemon['Doble tipo'] = True
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,True

In [184]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

pokemon = pokemon[['Name', 'Type 1', 'Type 2']]
pokemon.sort_values(['Type 1', 'Type 2', 'Name'], ascending=[True, True, True])
pokemon.head()

                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN

In [66]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']
precio = []

for elt in compra:
    precio.append(articulos [elt])
print(precio)

# A. Una función que calcule el precio total de la compra

reduce(lambda x, y: x + y, precio)

# B. Una función que calcule el precio total de la compra con un descuento del 10%

reduce(lambda x, y: x + y, precio)*0.90

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
    

precio_total = reduce(lambda x, y: x + y, precio)
if precio_total > 100:
    precio_final = precio_total*0.9
else: 
    precio_final = precio_total
print(precio_final)
     

# D. Una función que calcule el precio total aplicando el IVA (21%)

base = round(precio_total/1.21, 2)
cuota = round(base*0.21, 2)
print("Base: "+str(base)+"\nIVA (21%): " + str(cuota)+"\n Total factura: "+str(precio_total))


# E.lista los artículos cuyo precio es superior a 20€

list(filter(lambda x: x[1] > 20, articulos.items()))

[20, 30, 30, 10, 25, 40]
139.5
Base: 128.1
IVA (21%): 26.9
 Total factura: 155

[('Pantalón', 30),
 ('Zapatos', 50),
 ('Gafas', 25),
 ('Reloj', 35),
 ('Corbata', 40)]

In [ ]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]